# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.env.*
*.env
*.egg-info/
db.sqlite3
media/
staticfiles/

# Django
*.db
local_settings.py
.DS_Store

# Node/Next.js
node_modules/
.next/
out/
.npm/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build
build/
dist/

# Frontend env
frontend/.env.local
frontend/.env.*

# Backend env
backend/.env
backend/.env.*

# Misc
*.swp
*.swo
.idea/ 